*,::before,::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
#title{
    margin: 10px;
    padding: 20px;
}
#title h2{
    text-align: center;
}
#question-box{
    margin: 10px;
    padding: 10px;
}
#question{
    font-size: larger;
    font-weight: 600;
    text-align: center;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 15px;
    margin: 20px 0;
}
.btn{
    border: 3px solid orangered;
    background-color: orange;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.btn:hover{
    border-color: black;
}
#start{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-btn{
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
}
.hide{
    display: none;
}
.result{
    margin: 10px;
    padding: 20px;
    border: 3px solid orangered;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next_btn, .submit_btn{
    margin: 10px;
    padding: 20px 60px;
}

.btn-correct{
    background-color: greenyellow;
}
.btn-wrong{
    background-color: red;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#qno{
    border: 2px solid orangered;
    font-weight: 500;
    font-size: medium;
    margin: 10px;
    padding: 20px;
}
